.login-btn {
    background-color: #1CB0E6 !important;
}

.forget {
    color: #1CB0E6 !important;
}
.signup-btn {
    background-color: #1CB0E6 !important;

} 

@media only screen and (max-width:688px) {

    #login-form {
        width: 100% !important;
        padding: 10px !important;

    }
    #signup-form {
        width: 100% !important;
        padding: 10px;
    }

}


@media only screen and (min-width:688px) and (max-width:992px) {
    #login-form {
        width: 80% !important;
        padding: 10px;
    }
    #signup-form {
        width: 80% !important;
        padding: 10px;
    }
}